@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}

/* Scoll bar hidden */

.scrollhost::-webkit-scrollbar {
    display: none;
}

.scrollhost ::-moz-scrollbar {
    display: none;
}

.scrollhost {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: 0px; /*just hides the scrollbar for firefox */
}
